.editableBlockContainer {
  margin: 0 0 15px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-column-gap: 10px;
  align-items: flex-start;
}

.contentBlockContainer {
  width: 100%;
  max-width: 800px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.editableBlockContainer:hover .blockOptions {
  visibility: visible;
}

.blockOptions {
  min-width: 50px;
  margin-right: 10px;
  padding: 5px 0 0;
  visibility: hidden;
  color: #808080;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blockOptions svg {
  margin-left: 8px;
  fill: var(--neutral-dark-mode---label);
}

svg.addBlockIcon:hover {
  fill: #000;
}

svg.removeBlockIcon:hover {
  fill: #f00;
}

svg.moveIcon:hover {
  cursor: move;
}

.headingMenus button {
  border: none;
  background: transparent;
  box-shadow: none;
}

.headingMenus button:hover {
  background: transparent;
  box-shadow: none;
}