.commandPopupContainer {
  width: auto;
  min-width: 300px;
  max-height: 300px;
  border: 1px solid #f5f5f5;
  background: #fff;
  box-shadow: 0 0 1px 0 #000;
  overflow-y: auto;
  position: absolute;
  z-index: 3;
}

.commandPopupContainer:focus {
  outline: none;
}

.commandPopupContainer dl {
  margin: 0;
}

.commandPopupContainer dt {
  padding: 5px;
  font-size: 11px;
}

.commandPopupContainer dd {
  margin: 0;
  padding: 8px;
  display: flex;
  align-items: center;
}

.commandPopupContainer dd:hover,
.commandPopupContainer dd:focus {
  background: #f5f5f5;
  cursor: pointer;
}

.commandInfo {
  margin-left: 5px;
}

.commandIcon {
  padding: 5px 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

.commandInfo span {
  font-size: 12px;
}

.commandInfo p {
  margin: 0;
  font-size: 11px;
  color: rgba(55, 53, 47, 0.6);
}
