.App {
  max-width: 1040px;
  margin: 0 auto;
}

div.remirror-theme .ProseMirror {
  min-height: auto;
  padding: 0px;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

div.remirror-theme .ProseMirror:focus,
div.remirror-theme .ProseMirror:active {
  box-shadow: none;
}

div.remirror-theme .ProseMirror .remirror-floating-popover {
  z-index: 2;
}
