.App {
  max-width: 1040px;
  margin: 0 auto;
}

div.remirror-theme .ProseMirror {
  min-height: auto;
  padding: 0px 10px;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
}

div.remirror-theme .ProseMirror:focus,
div.remirror-theme .ProseMirror:active {
  box-shadow: none;
}

div.remirror-theme .ProseMirror .remirror-floating-popover {
  z-index: 1;
}

.remirror-theme {
  margin-bottom: 10px;
}
